#initially-showing {
  display: none;
}

/* #initially-faddedIn{
    display: none;
} */
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.new_clickable {
  cursor: pointer;
  color: #0088cc;
}

.new_clickable:hover {
  text-decoration: underline;
}

.black-background {
  background-color: black;
  color: white;
}

.text-box{
  border: 4px solid blue;
  background-color: yellow;

}

  #text-light {
  cursor: pointer;
  color: #0088cc;
}
